:root {
  --ff-sans: "Poppins", sans-serif;
  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 1.75rem;
  --fs-900: 2.5rem;

  --clr-cyan: hsl(180, 62%, 55%);
  --clr-red: hsl(0, 78%, 62%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
}

body {
  background: rgb(79, 138, 214);

}

h1 {
  font-size: 4.5rem;
}

img {
  top: auto;
}

html {
  height: 700px;
}

h2 {
  margin-bottom: 0;
}


/***********Landing Page*************************************************************************************************************************************/

.Frontpart img {
  margin-left: 9rem;
  margin-top: 5rem;

}

.Frontpart img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: .10s ease-in-out;
}

.head {
  margin-bottom: 100px;
  margin: auto 9rem;
  background-color: #3a82c5;

}

.head :hover {
  color: rgb(248, 238, 238);
  cursor: grab;
  transition: .5s ease-in-out;
}

.snowHead2 {
  color: white;

}

.ImgBack {
  background-color: #4291db;
  margin: 3rem;
}

.list1 {
  margin-left: -40px;
  font-size: x-large;
  color: rgb(0, 35, 190);
}

.list2 {
  margin-left: 300px;
  font-size: x-large;
}

.Timer {
  margin-left: 525px;
  margin-bottom: 0;
  color: #082864;
}

.Display {
  font-size: xx-large;
  color: #082864;
}

.Time {
  font-size: xx-large;
  margin-left: -150px;
  color: #082864;
}

.timer {
  font-size: 35px;
  margin-left: 50px;
  color: #082864;
}


/****SIDE BAR**************************************************************************************************************************************************/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4b8cc9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #092558;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.intro,
.intro a {
  color: #fff;
  font: family 2px;
}

/**Cards*****************************************************************************************************************************************************************************************************/
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgb(41, 118, 219);
  margin-top: -70px;
}

.services h1 {
  background: #ff817f;
  background: rgb(41, 118, 219);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  margin: 5rem;
}

.services_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  height: 700px;
  margin-top: 90px;
}

.services_card1 {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background: rgb(41, 118, 219);
  transition: .3s ease-in-out;
  border-style: solid;
  border-radius: 5px;
  border-color: #1eacee;
  height: 300px;
}

.services_card1:hover {
  transition: .5s ease-in-out;
  cursor: pointer;
  transform: scale(1.04);
}

.services_card2 {
  width: 170px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background: rgb(41, 118, 219);
  transition: .3s ease-in-out;
  border-style: solid;
  border-radius: 5px;
  border-color: #1eacee;
  height: 300px;
}

.services_card2:hover {
  transition: .5 ease-in-out;
  cursor: pointer;
  transform: scale(1.04);
}

.services_card3 {
  width: 170px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background: rgb(41, 118, 219);
  transition: .3s ease-in-out;
  border-style: solid;
  border-radius: 5px;
  border-color: #1eacee;
  height: 300px;
}

.services_card3:hover {
  transition: .5s ease-in-out;
  cursor: pointer;
  transform: scale(1.04);
}

.services_card4 {
  width: 170px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  background: rgb(41, 118, 219);
  transition: .3s ease-in-out;
  border-style: solid;
  border-radius: 5px;
  border-color: #1eacee;
  height: 300px;
}

.services_card4:hover {
  transition: .5s ease-in-out;
  cursor: pointer;
  transform: scale(1.04);
}

h2 {
  text-align: center;
  left: 200px;
}

.paragraph {
  font-size: 1rem;
  text-align: center;
  top: 500px;
  margin-top: 0;

}



.services_card:nth-child(1) {
  background: rgb(41, 118, 219);

}

.services_card:nth-child(2) {
  background: rgb(41, 118, 219);

}

.services_card:nth-child(3) {
  background: rgb(41, 118, 219);
}

.services_card:last-child(4) {
  background: rgb(41, 118, 219);
}

.card_no {
  border-radius: 5px;
  margin-left: -70px;
  background: transparent;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 100s ease-in-out;
  transform: scale(100);
}

.img_lesson {
  border-radius: 5px;
  width: 350px;
  height: 300px;
  margin-left: 80px;
}



.container_card {
  display: flex;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}

/*************************** customizable snowflake styling ********************************************************************************************************************************/
.snowflake {
  color: #fff;
  font-size: 2.5em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateX(80px)
  }

  100% {
    transform: translateX(0px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;

}

.demo a {
  font-family: 'Raleway', sans-serif;
  color: #000;
}

/*****FOOTER*******************************************************************************************************************************************************************************************************************************************************/
.Snow_Footer {
  background-color: #4291db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  top: 1200px;
}

.Lesson_Footer {
  background-color: #4291db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  top: 1300px;
}

.Event_Footer {
  background-color: #4291db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  top: 1000px;
}

.Report_Footer {
  background-color: #4291db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  top: 950px;
}

.Employment_Footer {
  background-color: #4291db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  top: 1700px;
}

.Snow_links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.Snow_wrapper {
  display: flex;
}

.Snow_links_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 16rem;
  box-sizing: border-box;
}

.Snow_links_items h2 {
  color: #fff;
  margin-bottom: 1rem;
}

.Snow_links_items a {
  color: white;
  text-decoration: none;
  margin: 0.5rem;
  transition: .3s ease-out;

}

/**** EVENTS PAGE*************************************************************************************************************************/
.container {
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

.slide {
  display: flex;
  flex-direction: column;
  height: 1000px;
  overflow: hidden;
}

/*Adding background image to each section*/
.one {
  background: url(moutain.jpg);
}

.two {
  background: url(camp_fire_452513506_850pixels.jpg);
}

.section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  cursor: pointer;
  flex: 0.2;
  margin: 8px;
  position: relative;
  transition: all 0.7s ease-out;
}

.section.active {
  flex: 3;
}

/****DROPDOWN***********************************************************************************************************************************/
.dropbtn {
  color: rgb(18, 68, 206);
  padding: 16px;
  font-size: 16px;
  border: 1px solid rgb(42, 131, 204);
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100px 50px;
  margin-left: 600px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00000000;
  min-width: 200px;
  z-index: 1;
  margin-top: 20px;

  margin-left: 570px;
}

.dropdown-content a {
  color: black;
  font-family: helvetica;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

hr.solid {
  border-left: none;
  border-right: none;
  border-top: 1px solid #000000;
  border-bottom: none;
}

.show {
  display: block;
}

/********************************************************************/
.Below {
  margin-top: 80px;
  margin-left: 20%;
  font-size: xx-large;
  color: #d3dde2;
}

.weatherwidget-io {
  height: 900px;
}

.Maps {
  margin-left: 150px;
}

.Maps:hover {
  cursor: crosshair;
}



/****EMPLOYMENT************************************************************************************/
.card_Job {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  border-radius: 5px;
  margin-left: 150px;
}

.card_Job:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img_Job {
  border-radius: 5px 5px 0 0;
}

.container_Job {
  padding: 2px 16px;
}

.card_Job2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  border-radius: 5px;
  margin-left: 70px;
}

.card_Job2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img_Job2 {
  border-radius: 5px 5px 0 0;
}

.container_Job2 {
  padding: 2px 16px;
}

.Work_Head {
  margin-left: 350px;
}

.Workers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.button_1 {
  background-color: rgb(26, 145, 214);
  ;
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  width: 150px;
  margin-left: 260px;

}

.button_2 {
  background-color: rgb(26, 145, 214);
  ;
  border: none;
  color: rgb(253, 253, 253);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 4px;
  width: 150px;
  margin-left: 200px;
}




/******Media**************************************This goes on bottom to work***********************************************************************/
@media screen and (max-width: 992px) {
  html {}
}

/* Mobile styling */
@media screen and (max-width: 600px) {
  html {}

  h1 {
    font-size: 25px;
    text-align: center;
  }

  img {
    width: 125px;
    height: 115px;
  }

  /*Launch Page Styling*****************************************************************************************************/

  .Frontpart {
    margin: 0;
  }

  .head {
    margin: auto 10px;
    font-size: small;
  }

  .ImgBack {
    justify-content: center;
    margin: 1rem;
  }

  .list1 {
    margin-left: 300px;
    font-size: small;
  }

  .list2 {
    margin-left: 10px;
    font-size: medium;
  }

  /*Lesson Page Styling**************************************************************************************/

  .services_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    background-color: #2196F3;
    padding: 10px;
    height: 700px;
    margin-top: 90px;
  }

  .services_card1 {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background: rgb(41, 118, 219);
    transition: .3s ease-in-out;
    border-style: solid;
    border-radius: 5px;
    border-color: #1eacee;
    height: 150px;
  }

  .services_card1 h2 {
    font-size: 1rem;
  }

  .paragraph {
    font-size: 5px;

  }

  .services_card2 {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background: rgb(41, 118, 219);
    transition: .3s ease-in-out;
    border-style: solid;
    border-radius: 5px;
    border-color: #1eacee;
    height: 150px;
  }

  .services_card2 h2 {
    font-size: 1rem;
  }


  .services_card3 {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background: rgb(41, 118, 219);
    transition: .3s ease-in-out;
    border-style: solid;
    border-radius: 5px;
    border-color: #1eacee;
    height: 150px;
  }

  .services_card3 h2 {
    font-size: 1rem;
  }

  .services_card4 {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background: rgb(41, 118, 219);
    transition: .3s ease-in-out;
    border-style: solid;
    border-radius: 5px;
    border-color: #1eacee;
    height: 150px;
  }

  .services_card4 h2 {
    font-size: 1rem;
  }

  /**SNOW REPORT RESPONSIVE***************************************************************/
  .Maps {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 480px;
    z-index: -999;
  }






  /*EMPLOYMENT*********************************************/
    .Workers{
      margin-left: auto;
      margin-right: auto;
    }
    .card_Job{
      margin-left: 10px;
      width: 90%;
    }
    .container_Job{
      margin-left: 10px;
    }
    .button_1{
      margin-left: 60px;
      width: 50%;
    }
    .button_2{
      margin-left: 70px;
      width: 50%;
    }
    .card_Job2{
      margin-left: 20px;
      width: 90%;
    }
    .container_Job2{
      margin-left: -10px;
    }
    .Employment_Footer{
      top: 1900px;
    }




}